<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrissCross.WPF.WebView2" version="1.0.3" targetFramework="net462" />
  <package id="DynamicData" version="7.14.2" targetFramework="net462" />
  <package id="Microsoft.Web.WebView2" version="1.0.2088.41" targetFramework="net462" />
  <package id="ReactiveUI" version="19.4.1" targetFramework="net462" />
  <package id="ReactiveUI.WPF" version="19.4.1" targetFramework="net462" />
  <package id="Splat" version="14.6.37" targetFramework="net462" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
</packages>